body {
    height: 100%;
    margin: 0;
    background-color: #1B1F3B; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    scroll-behavior: smooth;
    background-size: cover;
    background-blend-mode: multiply;
    font-family: john-doe, sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #0C0C1A;
}

/* Adjusting the wheel container to ensure segments are properly positioned */
.wheel-container {
  position: relative;
  background-image: url(./img/wheel.png);
  background-size: cover;
  background-position: center;
  display: block;
  width: 48vw;
  height: 48vw;
  margin-left: 26vw;
  border-radius: 50%;
  overflow: hidden;
}

.needle {
  opacity: 0.8;
  background-size: cover;
  background-image: url(./img/needle.png);
  position: absolute;
  top: 45%;
  left: 50%;
  width: 3.2vh;
  height: 10vh;
  transform: translate(-50%, -90%) rotate(0deg);
  transform-origin: bottom center;
  transition: transform 0.8s ease-in-out;
  z-index: 10;
}


/* All labels use absolute positioning */
.segment-selector {
  height: 2vw;
  background-color: #0C0C1A;
  border-radius: 20%;
  position: absolute;
  text-decoration: none;
  color: #ffffff;
  font-family: 'Courier New', monospace;
  font-weight: bold;
  font-size: 1.1rem;
}

/* Position each label manually in its segment */
.crystalball {
  top: 30%;
  left: 12vw;
  text-shadow:
    0 0 5px #FFD700,
    0 0 10px #FFD700,
    0 0 15px #FFA500;
  animation: breathing 4s ease-in-out infinite;
}

.socialring {
  top: 30%;
  left: 56%;
  text-shadow:
    0 0 5px #FFD700,
    0 0 10px #FFD700,
    0 0 15px #FFA500;
  animation: breathing 4s ease-in-out infinite;
}

.aquallumina {
  top:70%;
  left: 21vw;
  text-shadow:
    0 0 5px #FFD700,
    0 0 10px #FFD700,
    0 0 15px #FFA500;
  animation: breathing 4s ease-in-out infinite;
}


.head {
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: height 0.3s ease-out; 
    position: relative; 
}
  
.headcontent {
    position: relative;
}
  
.headcontent h1 {
    margin-left: 3%;
    font-size: 3rem;
    color: #F5ECE0;
    overflow: hidden;
    white-space: nowrap;
    letter-spacing: .1em;
    animation: typing 3s steps(40, end);
    display: inline-block;
    max-width: fit-content;
}
  
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

.move {
    text-decoration: none;
    color: inherit;
}

@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes rotate{
    0%
   {
       transform: rotate(0deg);
    }
    100%
     {
      transform: rotate(360deg);
    }
}

@keyframes breathing {
  0% {
    text-shadow: 0 0 5px #E6B800,
                 0 0 10px #E6B800,
                 0 0 20px #E6B800,
                 0 0 40px #E6B800,
                 0 0 60px #E6B800;
      opacity: 0.8;
  }
  
  50% {
    text-shadow: 0 0 10px #E6B800,
                 0 0 20px #E6B800,
                 0 0 40px #E6B800,
                 0 0 80px #E6B800,
                 0 0 120px #E6B800;
      opacity: 1;
  }
  
  100% {
    text-shadow: 0 0 5px #E6B800,
                 0 0 10px #E6B800,
                 0 0 20px #E6B800,
                 0 0 40px #E6B800,
                 0 0 60px #E6B800;
      opacity: 0.8;
  }
}


.music {
    cursor: pointer;
    margin-top: 8vh;
    right: 3vh;
    background: url('./img/music.webp');
    background-size: cover;
    border-radius: 50%;
    position: fixed;
    float: right;
    width: 8vh;
    height: 8vh;
    box-shadow: 0 0 5px #E6B800,
    0 0 10px #E6B800,
    0 0 30px #E6B800,
    0 0 60px #E6B800,
    0 0 90px #E6B800;
    animation: rotate 5s linear infinite;
}

/*The circle animation of the navigation bar*/

.navigation {
    cursor: pointer;
    position: absolute;
    color: #C0C0C0;
  margin-top: 4vh;
  margin-left: 82%;
  width: 100%;
  height: 100%; 
  z-index: 1000;
  border-radius: 50%;
  width: 8vh;
  height: 8vh;
  animation: animate 2s linear infinite;
  box-shadow: 0 0 5px #00897B,
  0 0 10px #00897B,
  0 0 30px #00897B,
  0 0 60px #00897B,
  0 0 90px #00897B;
}

.navigation span {
    position: absolute;
    inset: 0;
    animation: rotate 5s linear infinite;
}

.navigation span::before{
  content: '';
  position: absolute;
  left: 8%;
  width: 30%;
  height: 30%;
  background: #E6B800;
  border-radius: 50%;
  box-shadow: 0 0 5px #E6B800,
  0 0 20px #E6B800,
  0 0 40px #E6B800;
  clip-path: polygon(
    50% 0%, 
    61% 35%, 
    98% 35%, 
    68% 57%, 
    79% 91%, 
    50% 70%, 
    21% 91%, 
    32% 57%, 
    2% 35%, 
    39% 35%
  );
}

/* Menu styles */
.nav-menu {
    margin-left: 64.5%;
    margin-top: 5vh;
    position: absolute;
    cursor: none;
    justify-content: center;
    align-items: center;
    display: none;
    position: fixed;
    left: 8%;
    width: 150px;
    z-index: 1000;
    transition: transform 0.3s ease-in-out;
    border-radius: 5%;
    box-shadow: 0 0 1px #C0C0C0,
                0 0 2px #C0C0C0,
                0 0 4px #C0C0C0,
                0 0 8px #C0C0C0,
                0 0 10px #C0C0C0;
}

.show-menu {
  display: block;
}


.nav-menu #cursor{
  position: fixed;
  z-index: 1000;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #E6B800;
  box-shadow: 0 0 5px #E6B800,
  0 0 10px #E6B800,
  0 0 30px #E6B800,
  0 0 60px #E6B800,
  0 0 90px #E6B800;
  transform: translate(-40%, -40%);
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.5s;
}

.nav-menu:hover #cursor {
  opacity: 1;
}

.nav-menu ul {
  list-style: none;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.nav-menu li {
  padding: 5%;
}

.nav-menu li a {
    cursor: none;
    /* Your existing properties */
    display: flex;
    text-decoration: none;
    color: #ffffff;
    display: block;
  }

.nav-menu li a:hover  {
  text-decoration: none;
  color: #E6B800;
  box-shadow: 0 0 5px #E6B800,
  0 0 10px #E6B800,
  0 0 30px #E6B800,
  0 0 60px #E6B800,
  0 0 90px #E6B800;
  border-radius: 10%;
  display: block;
}

@media (max-width: 1024px) {

  .wheel-container {
    align-items: center;
    margin-left: 20vw;
    width: 60vw;
    height: 60vw;
  }

  .segment-selector {
    height: 5vh;
    border-radius: 20%;
    font-size: 0.8rem;
  }

  .crystalball {
    left: 16vw;
  }
  
  .aquallumina {
    left: 25vw;
  }

  .headcontent {
    margin-top: 5vh;
    margin-left: 2vh;
  }

  .headcontent h1 {
    font-size: 1.7rem;
  }

  .needle {
    width: 2.4vh;
    height: 7.5vh;
  }
}

@media (max-width: 768px) {

  .wheel-container {
    margin-top: 10%;
    margin-left: 11.3%;
    width: 60vh;
    height: 60vh;
  }

  .segment-selector {
    height: 5vh;
    border-radius: 20%;
    font-size: 1.1rem;
  }

  .crystalball {
    left: 22%;
  }

  .needle {
    width: 2.4vh;
    height: 7.5vh;
  }

  .headcontent {
    margin-top: 8%;
    margin-left: 2vh;
  }

  .headcontent h1 {
    font-size: 2rem;
  }
}

@media (max-width: 736px) {

  .wheel-container {
    width: 40vw;
    height: 40vw;
    margin-top: 2.5%;
    margin-left: 28%;
  }

  .segment-selector {
    height: 5vh;
    border-radius: 20%;
    font-size: 0.5rem;
  }

  .crystalball {
    left: 20%;
  }

  .aquallumina {
    left: 16.5vw;
  }

  .needle {
    width: 2.4vh;
    height: 7.5vh;
  }

  .headcontent {
    margin-top: 2%;
    margin-bottom: 0;
    margin-left: 2vh;
  }

  .headcontent h1 {
    font-size: 1rem;
  }
}

@media (max-width: 507px) {

  .segment-selector {
    height: 5vw;
  }

  .aquallumina {
    left: 15vw;
  }
}

@media (max-width: 480px) {

  .wheel-container {
    width: 90vw;
    height: 90vw;
    margin-top: 18%;
    margin-left: 5%;
  }

  .segment-selector {
    height: 10vw;
    border-radius: 20%;
    font-size: 0.6rem;
  }

  .crystalball {
    left: 23vw;
  }

  .aquallumina {
    left: 36vw;
  }

  .needle {
    width: 3.6vw;
    height: 11.25vw;
  }

  .headcontent {
    margin-top: 10%;
    margin-left: 2vh;
  }

  .headcontent h1 {
    font-size: 1rem;
  }
}

