body, html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    scroll-behavior: smooth;
    background-size: cover;
    background-image: url(./img/web.png);
    background-color: rgba(26, 26, 26, 0.8); /*Semi-transparent black*/
    background-blend-mode: multiply;
    font-family: john-doe, sans-serif;
    font-weight: 400;
    font-style: normal;
  }

.head {
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: height 0.3s ease-out; 
    position: relative; 
}
  
.headcontent {
    position: relative;
}
  
.headcontent h1 {
    margin-left: 3%;
    font-size: 3em;
    color: #F5ECE0;
    overflow: hidden;
    white-space: nowrap;
    letter-spacing: .1em;
    animation: typing 3s steps(40, end);
    display: inline-block;
    max-width: fit-content;
}
  
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

.elements {
    margin-right: 10vh;
    margin-bottom: 50vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; 
    gap: 10%;
    width: 100%;
    animation: fade-in 2s ease-in-out forwards;
}


/* Star Elements */
.starone {
    text-decoration: none;
    color: inherit;
    margin-top: 10vh;
    background-size: cover;
    width: 15vh;
    height: 15vh;
    background-image: url(./img/star.png);
    animation: floatUpDown 4s ease-in-out infinite;
}

.starone h2 { 
    text-decoration: none;
    color: inherit;
    text-align: center;
    margin-top: 6vh;
    color: #ffffff;
    text-shadow:
        0 0 5px #FFD700,
        0 0 10px #FFD700,
        0 0 15px #FFA500;
    animation: breathing 4s ease-in-out infinite;
}

.startwo {
    text-decoration: none;
    color: inherit;
    margin-top: 30vh;
    background-size: cover;
    width: 15vh;
    height: 15vh;
    background-image: url(./img/star.png);
    animation: floatUpDown 4s ease-in-out infinite;
    animation-delay: 0.8s;
}

.startwo h2 { 
    text-align: center;
    margin-top: 6vh;
    color: #ffffff;
    text-shadow:
        0 0 5px #FFD700,
        0 0 10px #FFD700,
        0 0 15px #FFA500;
    animation: breathing 4s ease-in-out infinite;
}

.starthree {
    text-decoration: none;
    color: inherit;
    margin-top: 10vh;
    background-size: cover;
    width: 15vh;
    height: 15vh;
    background-image: url(./img/star.png);
    animation: floatUpDown 4s ease-in-out infinite;
    animation-delay: 1.3s;
}

.starthree h2 { 
    text-align: center;
    margin-top: 6vh;
    color: #ffffff;
    text-shadow:
        0 0 5px #FFD700,
        0 0 10px #FFD700,
        0 0 15px #FFA500;
    animation: breathing 4s ease-in-out infinite;
}


/* Moon Elements */
.moonone {
    text-decoration: none;
    color: inherit;
    margin-top: 0;
    background-size: cover;
    width: 10vh;
    height: 10vh;
    background-image: url(./img/moon.png);
    animation: floatUpDown 4s ease-in-out infinite;
    animation-delay: 1.5s;
}

.moonone h2 { 
    text-align: center;
    margin-top: 5vh;
    color: #ffffff;
    text-shadow:
        0 0 5px #FFD700,
        0 0 10px #FFD700,
        0 0 15px #FFA500;
    animation: breathing 4s ease-in-out infinite;
    animation-delay: 1s; 
}

.moontwo {
    text-decoration: none;
    color: inherit;
    margin-top: 5vh;
    background-size: cover;
    width: 10vh;
    height: 10vh;
    background-image: url(./img/moon.png);
    animation: floatUpDown 4s ease-in-out infinite;
    animation-delay: 0.5s;
}

.moontwo h2 { 
    text-align: center;
    margin-top: 5vh;
    color: #ffffff;
    text-shadow:
        0 0 5px #FFD700,
        0 0 10px #FFD700,
        0 0 15px #FFA500;
    animation: breathing 4s ease-in-out infinite;
    animation-delay: 1s; 
}


@keyframes floatUpDown {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-10px); }
    100% { transform: translateY(0); }
}


@keyframes breathing {
    0% {
      text-shadow: 0 0 5px #E6B800,
                   0 0 10px #E6B800,
                   0 0 20px #E6B800,
                   0 0 40px #E6B800,
                   0 0 60px #E6B800;
        opacity: 0.8;
    }
    
    50% {
      text-shadow: 0 0 10px #E6B800,
                   0 0 20px #E6B800,
                   0 0 40px #E6B800,
                   0 0 80px #E6B800,
                   0 0 120px #E6B800;
        opacity: 1;
    }
    
    100% {
      text-shadow: 0 0 5px #E6B800,
                   0 0 10px #E6B800,
                   0 0 20px #E6B800,
                   0 0 40px #E6B800,
                   0 0 60px #E6B800;
        opacity: 0.8;
    }
}


.move {
    text-decoration: none;
    color: inherit;
}

@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes rotate{
    0%
   {
       transform: rotate(0deg);
    }
    100%
     {
      transform: rotate(360deg);
    }
}

.music {
    margin-top: 8vh;
    right: 3vh;
    background: url('./img/music.webp');
    background-size: cover;
    border-radius: 50%;
    position: fixed;
    float: right;
    width: 8vh;
    height: 8vh;
    box-shadow: 0 0 5px #E6B800,
    0 0 10px #E6B800,
    0 0 30px #E6B800,
    0 0 60px #E6B800,
    0 0 90px #E6B800;
    animation: rotate 5s linear infinite;
}

/*The circle animation of the navigation bar*/

.navigation {
    position: absolute;
    color: #C0C0C0;
  margin-top: 4vh;
  margin-left: 82%;
  width: 100%;
  height: 100%; 
  z-index: 1000;
  border-radius: 50%;
  width: 8vh;
  height: 8vh;
  animation: animate 2s linear infinite;
  box-shadow: 0 0 5px #00897B,
  0 0 10px #00897B,
  0 0 30px #00897B,
  0 0 60px #00897B,
  0 0 90px #00897B;
}

.navigation span {
    position: absolute;
    inset: 0;
    animation: rotate 5s linear infinite;
}

.navigation span::before{
  content: '';
  position: absolute;
  left: 8%;
  width: 30%;
  height: 30%;
  background: #E6B800;
  border-radius: 50%;
  box-shadow: 0 0 5px #E6B800,
  0 0 20px #E6B800,
  0 0 40px #E6B800;
  clip-path: polygon(
    50% 0%, 
    61% 35%, 
    98% 35%, 
    68% 57%, 
    79% 91%, 
    50% 70%, 
    21% 91%, 
    32% 57%, 
    2% 35%, 
    39% 35%
  );
}

/* Menu styles */
.nav-menu {
    margin-left: 64.5%;
    margin-top: 5vh;
    position: absolute;
    cursor: none;
    justify-content: center;
    align-items: center;
    display: none;
    position: fixed;
    left: 8%;
    width: 150px;
    z-index: 1000;
    transition: transform 0.3s ease-in-out;
    border-radius: 5%;
    box-shadow: 0 0 1px #C0C0C0,
                0 0 2px #C0C0C0,
                0 0 4px #C0C0C0,
                0 0 8px #C0C0C0,
                0 0 10px #C0C0C0;
}

.show-menu {
  display: block;
}


.nav-menu #cursor{
  position: fixed;
  z-index: 1000;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #E6B800;
  box-shadow: 0 0 5px #E6B800,
  0 0 10px #E6B800,
  0 0 30px #E6B800,
  0 0 60px #E6B800,
  0 0 90px #E6B800;
  transform: translate(-40%, -40%);
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.5s;
}

.nav-menu:hover #cursor {
  opacity: 1;
}

.nav-menu ul {
  list-style: none;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.nav-menu li {
  padding: 5%;
}

.nav-menu li a {
    cursor: none;
    /* Your existing properties */
    display: flex;
    text-decoration: none;
    color: #ffffff;
    display: block;
  }

.nav-menu li a:hover  {
  text-decoration: none;
  color: #E6B800;
  box-shadow: 0 0 5px #E6B800,
  0 0 10px #E6B800,
  0 0 30px #E6B800,
  0 0 60px #E6B800,
  0 0 90px #E6B800;
  border-radius: 10%;
  display: block;
}

@media (max-width: 1024px) {

    .head h1 {
        margin-top: 15%;
        font-size: 1.5rem;
    }

    .elements {
        margin-top: 10%;
        margin-left: 10%;
        width: 80%;
    }

    .elements h2 {
        font-size: 0.8rem;
    }

    .starone, .startwo, .starthree,
    .moonone, .moontwo {
        width: 15%;
        height: 15%;
    }
}

@media (max-width: 768px) {

    .head h1 {
        margin-top: 15%;
        font-size: 1.5rem;
    }

    .elements {
        margin-top: 10%;
        margin-left: 10%;
        width: 80%;
    }

    .elements h2 {
        font-size: 0.8rem;
    }

    .starone, .startwo, .starthree,
    .moonone, .moontwo {
        width: 15%;
        height: 15%;
    }
}

@media (max-width: 480px) {

    .head h1 {
        margin-top: 15%;
        font-size: 1.5rem;
    }

    .elements {
        margin-top: 10%;
        margin-left: 10%;
        width: 80%;
    }

    .elements h2 {
        font-size: 0.8rem;
    }

    .starone, .startwo, .starthree,
    .moonone, .moontwo {
        width: 15%;
        height: 15%;
    }
}




  